<h1>Posted jobs</h1>

<% @jobs.each do |job| %>
  <div class="job">
    <h2><%= link_to job.title, job.url %></h2>
    <p><%= job.company %></p>
  </div>
<%end%>

<%= link_to "Post a new job", new_job_path %>
