// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: #a71b3e;
    color: white;
    font: 14px/1.5 Helvetica, Arial, sans-serif;
    margin: 20px auto;
    width: 500px;
}

a {
    color: #efaaca;
    text-decoration: none;
}

#job_url {
    width: 100%;
}

#job_title {
    width: 100%;
}

#job_company {
    width: 100%;
}

::placeholder {
    opacity: 0.3;
}

hr {
    margin-top: 200px;
}